* {
	margin: 0;
	padding: 0;
}
body {
	width: 980px;
	height: 1386px;
	margin: auto;
}
.main {
	width: 892px;
	margin: 0 auto;
}
.top {
	height: 61px;
	border-bottom: 2px solid #938e8c;
}
.top_bg {
	width: 110px;
	height: 61px;
	background-color: red;
	display: inline-block;
	font-family: 黑体;
}
.top_bg span {
	color: #fff;
	font-size: 12px;
	float: left;
	margin-top: 45px;
	margin-left: 4px;
}
.top_time {
	float: right;
	margin-top: 45px;
	color: #d45d5c;
}
.top_img {
	margin-top: 30px;
	width: 100%;
}
.top_img img {
	width: 641px;
	height: 301px;
	float: left;
}
.top_img_head {
	border-top: 2px solid #cc8091;
	width: 203px;
	margin-right: 0;
}